spring:
  application:
    name: financeapp

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  jackson:
    serialization:
      fail-on-empty-beans: false

jwt:
  secret: SUPER_TAJNY_KLUCZ_256BITOWY
  expiration: 86400000 # 24h

server:
  port: 8080

